/* recipeList */

.app-stats {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  display: inline-block;
  margin-top: 2.4rem;
}

@media (max-width: 470px) {
  .app-stats {
    display: none;
  }
}

/* recipeCard */

.recipe-grocerylist--btn {
  float: right;
}

.recipecard-grocerylist-content {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.grocerydialog-listitem {
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer;
}

.list-item {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.grocerydialog-listitem:hover {
  background-color: #f3f0eb;
}

.grocerylist-dialog--padding {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.grocerylist-dialog--padding label {
  left: auto;
}

.recipe-card-image {
  display: block;
  height: 0;
  padding-bottom: 74.4%;
  position: relative;
  overflow: hidden;
}

.recipe-card-image img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  top: 50%;
  width: 100%;
}

.recipecard-content>div {
  padding-bottom: 0 !important;
}

.recipecard-title {
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.recipecard-author {
  text-align: center;
  opacity: 0.6;
}

.ingredient-list {
  padding-bottom: 1rem;
}

.recipecard-description {
  margin-top: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  line-height: 1.5;
}

.recipe-card-info {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.recipecard-save-btn span {
  text-transform: none !important;
}

.recipecard-save-btn {
  float: right;
}

.toggle-page-icon {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  right: 0;
  vertical-align: top;
  width: inherit;
  height: 26px;
  white-space: nowrap;
}

.recipecard-rating {
  padding-bottom: 1rem;
}
.rating-wrapper{
  margin-top: 0.5rem;
}

.ingredient-list {
  float: right;
}

/* ingredientlist */

.add-shopingcart-btn button {
  float: right;
}

.ingredient-text {
  margin-top: 1rem;
}

/* ingredientProgress */

.recipecard-expand-btn {
  float: Right;
}

.recipecard-expand-btn span {
  text-transform: none !important;
}

/* level */

.recipecard-level {
  display: inline-block;
}

/* portion */

.recipecard-portion {
  margin-top: 0.7em;
}

/* rating */


/* tags */

.recipecard-tag-matched {
  background: #4e9a5d;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  height: auto;
  margin: 0 3px 6px 0;
  padding: 6px 10px;
  display: inline-block;
}

.recipecard-tag-unmatched {
  background: #4e9a5d7a;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  height: auto;
  margin: 0 3px 6px 0;
  padding: 6px 10px;
  display: inline-block;
}
/* time */

.recipecard-time {
  display: inline-block;
  margin-right: 0.25rem;
}
.recipecard-time svg{
  vertical-align: bottom;
}
@media (max-width: 767px) {
  .recipecard-description {
    display: none;
  }
}

@media (max-width: 991px) {
  .recipecard-ingredients {
    padding-top: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .recipecard-save-btn {
    margin-top: -4.7rem !important;
  }
  .recipe-grocerylist--btn {
    margin-top: -4.7rem !important;
    margin-right: 3rem !important;
  }
}