.my_recipes-title {
    position: relative;
    color: #444444;
    text-align: center;
}
.my_recipes-container {
    min-height: 26em;
}

.my_recipes-search {
    width: 100%;
    padding: 0.4em !important;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    height: 2.6em !important;
    margin-top: 1.6em !important;
    border-radius: 25px !important;
    background-color: white !important;
    border: 1px solid #44444444 !important;
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.my_recipes-search input {
    font-size: 16px;

    margin-top: -8px !important;
    top: 10px !important;
}

.my_recipes-search label {
    font-size: 1em;
    left: inherit;
    line-height: 40px;
    margin-top: -22px;
}

.my_recipes-search div::before {
    border-bottom: none !important;
}

.my_recipes-search div::after {
    border-bottom: 2px solid #00bcd4 !important;
}