
.my_recipes-container {
    min-height: 26em;
}

.my_recipes-search {
    width: 100%;
}

.my_recipes-search label {
    left: inherit;
    line-height: 40px;
    margin-top: -26px;
}

.my_recipes-search div::before {
    border-bottom: none !important;
}
