.filter-clear-btn span {
  text-transform: none !important;
}

.filter-clear-btn {
  vertical-align: top;
}

.c-autocomplete {
  height: 2.6em !important;
  margin-top: 1.6em !important;
  border-radius: 25px !important;
  background-color: white !important;
  border: 1px solid #44444444 !important;
  padding-right: 1em;
  padding-left: 1em;
}

.c-autocomplete label {
  line-height: 40px !important;
  top: 0px !important;
}

.c-autocomplete input {
  margin-top: -8px !important;
  top: 10px !important;
}

.c-autocomplete hr:first-child {
  display: none !important;
}

.c-autocomplete hr {
  position: inherit !important;
}