  .ingredient-chip {
    margin-top: 4px !important;
    margin-right: 4px !important;
    background-color: rgba(255, 152, 0, 0.7) !important;
  }
  
  .tag-chip {
    margin-top: 4px !important;
    margin-right: 4px !important;
    background-color: rgba(76, 175, 80, 0.7) !important;
  }
  
  .tag-chip span, .ingredient-chip span {
    color: #ffffff !important;
  }
  
  .tag-chip svg, .ingredient-chip svg {
    fill: #ffffff !important;
  }