.headerImageContainer {
    position: relative;
    top: 0;
    left: -1px;
    right: -1px;
    overflow: hidden;
    height: 490px;
    box-sizing: border-box;
    margin-bottom: -490px;
    background-color: black;
}
#headerimage {
    opacity: 0.9;
    position: relative;
    top: 0;
    left: 50%;
    height: 0px;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    overflow: hidden;
    transform: translateX(-50%);
    -ms-transform: translate(-50%);
    -webkit-transform: translateX(-50%);
}
img {
    border: none;
    max-width: 100%;
    width: auto;
    height: auto;
}
.login-btn{
    min-width: 10rem !important;
}
.toolbar-title{
    color: rgba(255, 255, 255, 0.9) !important;
    margin-left: 1.5rem;
    font-weight: 600;
    font-size: 1.5em !important;
}
.toolbar-more-icon{
    color: rgba(255, 255, 255, 0.9) !important;
}
@media (max-width: 599px){
    .headerImageContainer {
        height: 330px;
        margin-bottom: -330px;
    }
    .login-btn{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .toolbar-more-btn{
        width: 1rem !important;
        padding-right: 0px !important;
        padding-left: 0.4rem !important;
    }
}
@media (max-width: 979px){
    .headerImageContainer {
        height: 420px;
        margin-bottom: -420px;
    }
}