.app-stats {
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
    display: inline-block;
    width: 14em;
    margin-top: 2.7em;
}

@media (max-width: 470px) {
    .app-stats {
        display: none;
    }
}