.filter-clear-btn span{
    text-transform: none !important;
  } 
.filter-clear-btn{
  vertical-align: top;
}
.c-autocomplete label, .c-autocomplete input {
  color: rgba(255, 255, 255, 0.9) !important;
}