.chart-container {
    display: block;
}

.chart {
    padding-top: 1.5em;
}

.chart-title {
    text-align: center;
    font-size: 1.4em;
}

@media (min-width: 768px) {
    .stat-listitem {
        width: auto !important;
        display: inline-block !important;
    }
}