.progress-root {
    background-color: #c1e1fb !important;
}

.progress-bar {
    background-color: #2196f3 !important;
}

#content {
    padding-bottom: 70px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#scrolltop-btn {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    opacity: 0.7;
}
.gutter{
    padding-right:8px !important;
    padding-left:8px !important;
}
a{
    text-decoration: none;
    color: #337ab7;
}
a:hover{
    color:#23527c;
}
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}