.progress-root {
    background-color: #c1e1fb !important;
}

.progress-bar {
    background-color: #2196f3 !important;
}

#content {
    padding-bottom: 70px;
}

#scrolltop-btn {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    opacity: 0.7;
}