.rating-wrapper {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 2.5rem;
    height: 2.5rem;
    width: 10.5rem;
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0;
}
.rating-wrapper-top {
      color: #e7711b;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
.rating-wrapper-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
.rating-votes{
    top: -0.1rem;
    position: relative;
}