.headerImageContainer {
    position: relative;
    top: 0;
    overflow: hidden;
    height: 490px;
    box-sizing: border-box;
    margin-bottom: -490px;
    background-color: #444444;
}

#headerimage {
    opacity: 0.98;
    position: relative;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    overflow: hidden;
    transform: translateX(-50%);
    -ms-transform: translate(-50%);
    -webkit-transform: translateX(-50%);
}

header {
    background-color: #f5f4f4 !important;
}

.appbar-login-avatar {
    margin-right: 10px;
}
.appbar-nav-button svg{
    margin-right: 2px;
}

.appbar-nav-button:hover {
    color: #3f51b5ce;
    text-decoration: underline !important;
    background-color: inherit !important;
}
.appbar-nav-button.selected-route{
    color: #3f51b5ce;
}
.appbar-nav-button{
    text-transform: capitalize !important;
    font-size: 1rem !important;
}

img {
    border: none;
    max-width: 100%;
    width: auto;
    height: auto;
}

.login-btn {
    z-index: 1000;
    align-items: flex-end !important;
}

.appbar-title {
    color: #444444 !important;
    margin-right: 1rem;
    font-weight: 600;
    vertical-align: middle;
}

.login-form:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#firebaseui_container {
    z-index: 1000;
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
}

.firebaseui-container {
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    min-height: 150px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: none;
}

.firebaseui-container.firebaseui-page-provider-sign-in {
    background: transparent;
    box-shadow: none;
    min-height: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.firebaseui-container.firebaseui-id-page-callback {
    background: transparent;
    box-shadow: none;
    margin-top: 40px;
    height: 84px;
    min-height: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.firebaseui-card-header {
    display: none;
}

.firebaseui-subtitle, .firebaseui-text {
    color: rgba(255, 255, 255, 0.87);
}

.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
    background: rgba(0, 0, 0, 0.1);
}

.firebaseui-id-dismiss-info-bar {
    display: block;
}

.firebaseui-info-bar {
    border: 0;
    border-radius: 10px;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;
}

.username-label {
    vertical-align: bottom;
    line-height: 2em;
    color: #f5f4f4;
}

.appbar-container--right {
    display: inline-flex;
    align-items: center;
}

.toolbar {
    justify-content: space-between;
    background-color: #ffffff8a;
}

@media (max-width: 599px) {
    .headerImageContainer {
        height: 330px;
        margin-bottom: -330px;
    }
    #headerimage {
        left: -50%;
    }
}

@media (max-width: 979px) {
    .headerImageContainer {
        height: 420px;
        margin-bottom: -420px;
    }
}