#footer.footer-content {
    background: #efe9e6;
    color: #5a5555;
    padding-bottom: 40px;
}

#footer a {
    color: #444444;
    font-size: 14px;
    font-weight: 600;
}

#footer a:hover {
    text-decoration: none;
}

#footer .social a {
    font-weight: 800;
}

#footer .social {
    margin-bottom: 25px;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .social ul {
    float: left;
    width: 100%;
}

#footer .social li {
    float: left;
    padding: 10px 0;
    width: 50%;
}

.bottom-navigation-container a:focus {
    outline: 0;
}

.bottom-navigation-container {
    position: fixed;
    bottom: 0;
    height: 46px !important;
    width: 100%;
    text-transform: capitalize;
    -webkit-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.bottom-navigation-container button {
    margin-top: -2px;
}

.bottom-navigation-container a {
    padding-top: 10px !important;
}

.bottom-navigation-container a:hover, .bottom-navigation-container button:hover {
    color: #3f51b5ce !important;
}

@media (min-width: 1000px) {
    #footer .social ul {
        margin: 0;
    }
    #footer .newsletter-wrap {
        padding: 40px 20px 0 0;
        width: 100%;
    }
    #footer .social li {
        display: inline-block;
        float: none;
        padding-right: 30px;
        width: auto;
    }
}