/* sort */

#sort-select {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.9) !important;
}

/* filterChip */

.ingredient-chip {
    margin-top: 4px !important;
    margin-right: 4px !important;
    background-color: rgba(255, 152, 0, 0.7) !important;
}

.tag-chip {
    margin-top: 4px !important;
    margin-right: 4px !important;
    background-color: rgba(76, 175, 80, 0.7) !important;
}

.tag-chip span, .ingredient-chip span {
    color: rgba(255, 255, 255, 0.9) !important;
}

.tag-chip svg, .ingredient-chip svg {
    fill: rgba(255, 255, 255, 0.9) !important;
}

.tag-chip .chip-avatar {
    background-color: rgba(76, 175, 80, 0.7) !important;
}

.ingredient-chip .chip-avatar {
    background-color: rgba(255, 152, 0, 0.7) !important;
}

/* searchbar */

.chip-wrapper {
    flex-wrap: wrap;
    display: flex;
    min-height: 108px;
    align-items: flex-end;
}

.filter-clear-btn span {
    text-transform: none !important;
}

.filter-clear-btn {
    vertical-align: top;
}

.c-autocomplete {
    height: 2.2rem !important;
    margin-top: 1rem !important;
    border-radius: 1rem !important;
    background-color: #fdfdfd !important;
    border: 1px solid #44444444 !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-size: 0.875rem !important;
    white-space: nowrap;
}

.c-autocomplete label {
    line-height: 40px !important;
    top: 0px !important;
}

.c-autocomplete input {
    margin-top: -6px !important;
    top: 6px !important;
}

.c-autocomplete hr {
    position: inherit !important;
}

.c-autocomplete div:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    padding-right: 20px;
    margin-bottom: -0.5rem;
}

.c-autocomplete hr:first-child {
    display: none !important;
}

.c-autocomplete:hover hr {
    border-color: #303f9f !important;
}

.c-autocomplete hr:nth-child(2) {
    border-color: #303f9f !important;
}

.searchbar-switch {
    margin-top: -4px;
}

.searchbar-switch span {
    color: rgba(255, 255, 255, 0.9) !important;
}

/* quickTags */

.quick-tag {
    margin-top: 4px !important;
    margin-right: 4px !important;
    background-color: rgba(76, 175, 80, 0.7) !important;
    z-index: 0;
}

.quick-tag span {
    color: rgba(255, 255, 255, 0.9) !important;
}

.quick-tags-norecipes {
    margin-top: 3rem;
}

.quickchip-wrapper {
    flex-wrap: wrap;
    display: flex;
}

.popular-tags {
    min-height: 2rem;
    margin-bottom: 1rem;
}

@media (min-width: 1000px) {
    .searchbar-wrapper {
        margin-top: 4rem;
        min-height: 8rem;
    }
}

@media (max-width: 767px) {
    .quick-tags-norecipes {
        margin-top: 2rem;
    }
}