.my_snackbar-login-btn {
    color: #f5f4f4 !important;
    border-color: #f5f4f4 !important;
}

.my_snackbar {
    color: #f5f4f4;
}
.my_snackbar a {
    font-size: 1rem;
}
/* contact */
.contact-field {
    width: 100% !important;
}

.contact-dialog button {
    width: 100% !important;
}