.recipe-card-image {
  display: block;
  height: 0;
  padding-bottom: 74.4%;
  position: relative;
  overflow: hidden;

}

.recipe-card-image img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  top: 50%;
  width: 100%;

}

.recipecard-content>div {
  padding-bottom: 0 !important;
}

.recipecard-title {
  font-size: 12;
  text-align: center;
  text-overflow: ellipsis;
}

.recipecard-author {
  text-align: center;
}
.recipecard-description{
  margin-top:1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.recipe-card-info {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.recipecard-save-btn span{
  text-transform: none !important;
} 
.recipecard-save-btn{
  float: right;  
} 
.save-icon__label {
  padding-left: 8px;
  color: #ec5050;
  vertical-align: middle;
  font-size: 15px;
  font-size: .9375rem;
  line-height: 20px;
}
.save-icon__button {
  border: 1px solid #e1e1dc;
  border-radius: 25px;
  padding: 7px 14px;
}
.toggle-page-icon {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  right: 0;
  vertical-align: top;
  width: inherit;
  height: 26px;
  white-space: nowrap;
}
h2{
  font-size: 2.4rem;
}
.ingredient-list{
  float:right;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2rem;
  } 
}
@media (min-width: 1200px) {
  .recipecard-save-btn{
    margin-top: -7rem !important;
  } 
}