.my_recipes-title {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}
.my_recipes-container {
    min-height: 26em;
}

.my_recipes-search {
    width: 100%;
    padding: 0.4em !important;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

.my_recipes-search input {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

.my_recipes-search label {
    margin-left: 0.3em;
    margin-top: 0.4em;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.9) !important;
}

.my_recipes-search div::before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9) !important;
}

.my_recipes-search div::after {
    border-bottom: 2px solid #00bcd4 !important;
}